--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple
torch
torchvision
ultralytics
opencv-python
flask
numpy
psutil
python-multipart
av
sentence-transformers
transformers
faster-whisper
insightface
onnxruntime-gpu
scikit-learn
paho-mqtt 
yt-dlp
requests
mcp[cli]
easyocr
